- name: Checkout 
  uses: actions/checkout@v2 # Required to mount the Github Workspace to a volume 
- uses: addnab/docker-run-action@v3
  with:
  image: docker:latest
  shell: bash
  run: |
      echo "first line"
      echo "second line"
